$black: black;
$white: white;
$body-background-color: darkgrey;
$border: 2px black solid;
$grid-cols: repeat(2, [col-start] 25% [col-middle] 75% [col-end]);
$in-color: #339933;
$out-color: #cc0000;
$break-color: #7300e6;
$magic-margin: 0 auto;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $body-background-color;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin punch($color) {
  background-color: $color;
  color: lighten($color, 45%);
}

.punch-in { @include punch($in-color); }

.punch-out { @include punch($out-color); }

.punch-break { @include punch($break-color); }

.punch-text {
  margin-top: 15%;
  text-align: center;
  overflow: hidden;
}

.punch-header {
  color: $white;
  font-size: 60px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $black;
}

.punch-grid-header {
  background-color: $black;
  width: 50%;
  margin: $magic-margin;
  color: $white;
  display: grid;
  grid-template-columns: $grid-cols;
}

.container {
  background-color: $white;
  width: 50%;
  margin: $magic-margin;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.inner-child-row {
  display: grid;
  grid-template-columns: $grid-cols;
  grid-auto-rows: minmax(100px, auto);
  border: $border;
}

.inner-child-column {
  border: $border;
  grid-template-rows: 25% 100px auto;
}
