$black: black;
$white: white;
$body-background-color: darkgrey;
$border: 2px black solid;
$grid-cols: repeat(2, [col-start] 25% [col-middle] 75% [col-end]);

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $body-background-color;
  font-family: Arial, Helvetica, sans-serif;
}

.punch-header {
  color: $white;
  font-size: 60px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $black;
}

.punch-grid-header {
  background-color: $black;
  width: 50%;
  margin: 0 auto;
  color: $white;
  display: grid;
  grid-template-columns: $grid-cols;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: $white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.inner-child-row {
  display: grid;
  grid-template-columns: $grid-cols;
  grid-auto-rows: minmax(100px, auto);
  border: $border;
}

.inner-child-column {
  border: $border;
  
  grid-template-rows: 25% 100px auto;
}
